{% load static %}
<!DOCTYPE html>
<html lang="en">

        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="Web page for project 2">
            <meta name="author" content="zhenyu wan">
            <title>Firewall Practice Tools</title>
        </head>

        <!-- custom css style sheet for project 1 --> 
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->
        <link href="{% static 'firewall_rules/css/project1.css' %}" rel="stylesheet">
        
        <!--start of the header section-->
        <div id="demobox">
            Firewall Practice
        </div>
        <!--end of the header section-->


        <!--start of the nav bar-->
        <ul id="nav_bar">
            <li><a href="index">Home Page</a></li>
            <li><a href="terms">Firewall Terminologies</a></li>
            <li><a href="subnet_practice">Subnet Practice</a></li>
            <li><a href="firewall_practice">Firewall Practice</a></li>
            <li><a href="playground">Playground</a></li>
        </ul>
        <!--End of the nav bar-->

        <!--start of Night mode button-->
        <button id="change_night_mode" type="button" onclick="change_night_mode()">Night</button>

        <!--Instructions about this page-->
        <div id="instruction" style = "padding-left: 50px;">
            <p>Fill the box with correct firewall rules to practice your firewall rule knowledge</p>
            <p><br></p>
            <p>Key features not implemented yet</p>
        </div>
        
        <!--Start of drawing Network Diagram-->
        <div class="network_diagram">
            </div><img src="{% static 'firewall_rules/img/network_diagram.jpg' %}" alt="firewall_diagram">
        </div>
        <!--End of the drawing Network Diagram-->
        
        <form class="input_fields" method="post">
            {% csrf_token %}
            {{ form }}
            <input id="firewall_rules_submit" type="submit" value="Submit">
        </form>
        <div id="result"></div>
        
        <!--Start of firewall rule table-->
        <div>
            <table id="myTable">
                <tr id="first_row">
                    <td>Interface</td>
                    <td>Direction</td>
                    <td>Source Address</td>
                    <td>Destination address</td>
                    <td>Port Number</td>
                    <td>Action</td>
                    <td>Description</td>
                </tr>
                {% for rule in firewall_rules %}
                <tr>
                    <td> {{ rule.zone }} </td> 
                    <td> {{ rule.direction }} </td>
                    <td> {{rule.source_ip}} </td>
                    <td> {{rule.destination_ip}} </td>
                    <td> {{rule.destination_detail}} </td>
                    <td> {{rule.action}} </td>
                    <td> {{rule.description}} </td> 
                    <td>
                        <form action="/action/delete/{{ rule.id }}">
                            <button type="submit" class="delete_button">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form action="">
                            <button type="button" class="edit_button">Edit</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <!--End of the firewall rules-->

        <footer class="firewall_practice">
            <p>CopyRight © 2022 ACME, Inc.</p>
        </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
    <script src="{% static 'firewall_rules/js/main.js' %}"></script>
    <script src="{% static 'firewall_rules/js/firewall_practice.js' %}"></script>
    
</html>